$--var-left-image-width: var(--leftImageWidth, 800px);
$--var-left-image-height: var(--leftImageHeight, 500px);
$--var-left-image-marginTop: var(--leftImageMarginTop, 20px);
$--var-success: rgb(65, 211, 102);
$--var-error: rgb(255, 143, 143);
$--var-stop:rgb(231, 163, 62);
$--var-hover-color:rgb(40, 136, 232);
$--var-select-border: 2px solid rgb(40, 136, 232);